version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html/
    networks:
      - biblioteca
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_DATABASE: blog_bis2bis
    ports:
      - "3306:3306"
    networks:
      - biblioteca 

networks:
  biblioteca:
    driver: bridge

